@charset "EUC-KR";

.loginTop{
	text-align: center;
}
.sub,.con,.acon{
	font-size: 1.3em;font-weight: bold;
	
}
.mypageFavFrm{
	
	width: 450px;  margin: 0 auto; overflow:auto;
}
#qnacontent{
	border: 1px solid #ddd;
	min-height:150px;
	height: auto;
}
#answercon{
	border: 1px solid #ddd;
	min-height:150px;
	height: auto;
	
}
#Aeditform input[type=text]{
	height: auto;
}
.center-button {
  display: block; /* 버튼을 블록 요소로 변경 */
  margin: 20px auto; /* 좌우 여백을 자동으로 설정하여 중앙 정렬 */
}